<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scrapper</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>Job Scrapper</h1>
    <span>What skill do you want a search?</span>
    <form action="/search">
        <input type="text" name="keyword" placeholder="Write keyword please"/>
        <fieldset>
            <legend>Provider</legend>
            <label for="all">
                <input type="radio" id="all" name="provider" value="all" checked>
                All
            </label>
            <label for="weworkremotely">
                <input type="radio" id="weworkremotely" name="provider" value="weworkremotely">
                WeWorkRemotely
            </label>
            <label for="remoteok">
                <input type="radio" id="remoteok" name="provider" value="remoteok">
                RemoteOk
            </label>
        </fieldset>
        <button>Search</button>
    </form>
    </main>
</body>
</html>